header {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.AppTitle {
  align-items: center;
  display: flex;
}

.AppTitle h3 {
  margin: 0;
}

.AppLogo {
  height: 64px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogoSpin infinite 20s linear;
  }
}

@keyframes AppLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}